footer {
	background-color: #f3f2f1;
	/* position: fixed;
	bottom: 0;
	left: 0;
	right: 0; */
	min-height: 300px;
}
.footer-main {
	/* text-align: center; */
	width: 1150px;
	margin: 0 auto;
}
.footer-content {
}

.flex-container {
	height: 250px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer-navigation {
	border-top: 1px solid rgba(128, 128, 128, 0.499);
	width: 100%;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-main ul,
li {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 18px;
}
.footer-main ul {
	list-style: none;
}
.footer-main ul li {
	display: inline;
	margin-right: 10px;
}
